@model List<Cadastro>

@{

    ViewData["Title"] = "Lista de Cadastros";

}

<div class="row">
    <div class="col-md-12">
        <form class="form-inline" method="POST">
            <div class="form-group mb-2">
                <select name="TipoFiltro" class="form-control">
                    <option value="Nome">Nome</option>
                    <option value="Login">Login</option>
                </select>
                <div class="form-grounp mb-2 mx-sm-2">
                    <input type="text" placeholder="Filtro" name="Filtro" class="Form-control">
                </div>

                <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table striped">


            <thead>
                <tr>
                    <th>Id</th>
                    <th>
                        Nome Usuario
                    </th>
                    <th>
                        Login
                    </th>
                    <th>
                        Senha
                    </th>
                    <th>
                        Email
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (Cadastro C in Model)
                {

                    <tr>

                        <td>
                            @C.Id
                        </td>
                        <td>
                            @C.Nome
                        </td>
                        <td>
                            @C.Login
                        </td>
                        <td>
                            @C.Senha
                        </td>
                        <td>
                            @C.Email
                        </td>
                    </tr>

                }
            </tbody>

        </table>

    </div>
</div>